<div class="row">
  <div class="col-auto">
    <h2>Create a new blog entry</h2>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <form class="form">
      <div class="form">
        <label for="title">Title</label>
        <textarea id="blog-title" class="form-input" type="text" rows="1"></textarea>
      </div>
      <div class="form">
        <label for="content">Content</label>
        <textarea id="blog-content" class="form-input" type="text"></textarea>
      </div>
      <div class="form">
        <button class="btn btn-success" id="btn-create-submit" type="submit">Create Entry!</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/create.js" defer></script>