.no-button {
  border: 0;
  padding: 0;
}

.hidden {
  display:none;
}

a {
  text-decoration:none;
}

.blog {
  border: 2px solid grey;
}

.blogView {
  border: 2px solid grey;
}

.dashboard-blog {
  border: 2px solid grey;
}

.sm-text {
  font-size: small;
}